.form{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
}
.addItemForm{
    max-width: 360px;
    margin: 0 auto;
}
.addItemForm--inputForm{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333333;
    color: #333333;
    padding-bottom: 2px;
    outline: none;
}
.addItemForm--submit{
    background-color: #313464;
    color: #fff;
    border: none;
    outline: none;
    height: 25px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
.go-back {
    background-color: #d4145a;
    border: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}