.commentForm{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #e6e6e6;
    padding: 15px 0;
}
.commentForm--input{
    margin: 0 10px;
    border: none;
    outline: none;
    height: 20px;
    padding: 5px;
}
.commentForm--submit{
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #313464;
    color: #fff;
}